<div class="row">
    <div class="column" class="leftbox" > 
        <ol>
            <li  *ngFor="let data of tabledata"  (click)="onSelect(1,data)" >{{  data.title }}  </li> 
            
           <button type="button" class="button-primary" (click)="onSelect(2)" > Add </button> 
        
        </ol>    
    </div>
    <div class="column" class="rightbox"  >
        <div class="inputBox" >
         <div *ngIf="viewtype==1">
            
            <p> <span>Title:</span> {{selectedData.title }} </p> 
            
            <p> <span> Body:</span>{{selectedData.body }} </p>
            <img [src]="selectedData.Imageurl"> <br>
            <button type="button" class="button-danger" (click)="onDelete(selectedData)"> Delete </button> 
         </div>    
        </div> 
         <div *ngIf="viewtype==2"  class="box">
            <form [formGroup]="AddForm">
                <div class="row" class="inputBox">
                        <span>Title:</span>
                        <input formControlName="title" />
                        <!-- <label>Title:</label> -->
                     </div>
                <div class="row" class="inputBox">

                        <span>Body:</span>
                        <input formControlName="body"  /> 
                        <!-- <label>Body:</label> -->
                     </div>
            </form>
            

            <div class="row">
                <div class="col-6">
                    <button type="default" class="button-cancel" (click)="onCancel()">Cancel</button>
                </div>
                <div class="col-6">
                    <button type="button" class="button-primary" (click)="onAddData()">Add</button>
                </div>
            </div>
         </div> 
       
    </div>
 

</div>
